body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(130deg, #B2BABB, #515A5A);
    background-repeat: no-repeat;
    height: 100vh;
}
nav{
    background-image: linear-gradient(to right, #2E4053, #5D6D7E);
}
.navbar-light .navbar-brand{
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}